.git
.gitignore
.idea
.vscode
__pycache__
Linguakit
apertium-spa-glg
formas_verbais_es_gl*.txt
formas_verbais_es_gl*.log
verbos-es-gl-completo.txt
web-angular/node_modules
web-angular/dist
flutter_app/.dart_tool
flutter_app/build
flutter_app/.idea
web-laravel/vendor
web-laravel/node_modules
web-laravel/storage/logs
web-laravel/bootstrap/cache/*.php
